@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

section {
  padding-block: 40px;
  min-height: 100vh;
  background-image: url("../../../../assets/Group 48101664.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
[_nghost-ng-c2040221903] {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-inline: auto;
  overflow: hidden;
}

::ng-deep ngx-dropzone-image-preview img {
  height: 100% !important;
  width: 100% !important;
  border-radius: 50% !important;
  opacity: 1;
  // overflow: hidden;
}

::ng-deep ngx-dropzone-image-preview ngx-dropzone-remove-badge {
  top: 17px !important;
  right: 7px !important;
}

[_nghost-ng-c3821590306] ngx-dropzone-remove-badge[_ngcontent-ng-c3821590306] {
  opacity: 1;
}
