section {
  padding-block: 40px;
  min-height: 100vh;
  background-image: url("../../../../assets/Group 48101665.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
