<section class="p-3">
  <div class="container">
    <div class="flex justify-end">
      <mat-icon (click)="onNoClick()" class="text-red-600 cursor-pointer"
        >cancel</mat-icon
      >
    </div>

    <div class="my-2">
      <div>
        <img src="../../../assets/4 4.svg" alt="" />
      </div>

      <h2 class="font-[700] text-[25px] text-[#494949]">
        Change Your Password
      </h2>

      <p>Enter Your details below</p>
    </div>

    <div class="flex flex-col gap-1">
      <mat-form-field class="w-full">
        <mat-label class="">Old Password</mat-label>
        <input class="w-full" matInput [(ngModel)]="data.oldPassword" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="">New Password</mat-label>
        <input class="w-full" matInput [(ngModel)]="data.newPassword" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label class="">Confirm New Password</mat-label>
        <input class="w-full" matInput [(ngModel)]="data.confirmNewPassword" />
      </mat-form-field>
    </div>

    <div
      mat-dialog-actions
      class="float-end my-2 rounded-md bg-[#009247] text-white min cursor-pointer"
      style="margin-bottom: 15px"
    >
      <button mat-button style="color: white" (click)="changePassword()">
        change password
      </button>
    </div>
  </div>
</section>
<!-- cdkFocusInitial -->
