<section>
  <div class="container">
    <ng-container *ngIf="forgetsign; else reset">
      <div class="w-[90%] rounded-2xl md:w-[50%] mx-auto bg-white sm:p-10 p-3">
        <div class="">
          <img src="../../../../assets/4 4.svg" class="mx-auto" alt="" />
        </div>

        <h2 class="text-[#494949] font-bold text-[25px]">
          Forgot Your Password?
        </h2>
        <p class="text-[#49494999]">
          No worries! Please enter your email and we will send a password reset
          link
        </p>

        <form
          [formGroup]="forgetEmailForm"
          (ngSubmit)="sendEmailForget()"
          class="mt-7 grid gap-4 sm:grid-cols-1 sm:gap-x-5 lg:gap-x-20"
        >
          <div class="flex">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
            >
              <i class="fa-regular fa-envelope"></i>
            </span>
            <input
              formControlName="email"
              type="email"
              class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Email"
            />
          </div>

          <div
            class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
            role="alert"
            *ngIf="
              forgetEmailForm.get('email')?.getError('required') &&
              (forgetEmailForm.get('email')?.touched ||
                forgetEmailForm.get('email')?.dirty)
            "
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <p>Email Required</p>
          </div>
          <div
            class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
            role="alert"
            *ngIf="
              forgetEmailForm.get('email')?.getError('email') &&
              (forgetEmailForm.get('email')?.touched ||
                forgetEmailForm.get('email')?.dirty)
            "
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <p>Email Invalid</p>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="text-white bg-[#4AA35A] hover:bg-[#3b8749f6] font-bold text-[20px] rounded-lg text-sm px-5 w-[80%] py-2.5 me-2 focus:outline-none"
            >
              send
              <span *ngIf="spin"
                ><i class="ms-1 text-lg fa-solid fa-spinner fa-spin"></i
              ></span>
            </button>
          </div>
        </form>
      </div>
    </ng-container>

    <ng-template #reset>
      <div class="w-[90%] rounded-2xl md:w-[50%] mx-auto bg-white sm:p-10 p-3">
        <div class="">
          <img src="../../../../assets/4 4.svg" class="mx-auto" alt="" />
        </div>

        <h2 class="text-[#494949] font-bold text-[25px]">Reset Password</h2>
        <p class="text-[#49494999]">
          Please Enter Your Otp or Check Your Inbox
        </p>

        <form
          [formGroup]="ResetPasswordForm"
          (ngSubmit)="sendResetPassword()"
          class="mt-7 grid gap-3 sm:grid-cols-1 sm:gap-x-5 lg:gap-x-20"
        >
          <div class="flex">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
            >
              <i class="fa-regular fa-envelope"></i>
            </span>
            <input
              readonly
              formControlName="email"
              type="email"
              class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Email"
            />
          </div>

          <div
            class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
            role="alert"
            *ngIf="
              ResetPasswordForm.get('email')?.getError('required') &&
              (ResetPasswordForm.get('email')?.touched ||
                ResetPasswordForm.get('email')?.dirty)
            "
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <p>Email Required</p>
          </div>
          <div
            class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
            role="alert"
            *ngIf="
              ResetPasswordForm.get('email')?.getError('email') &&
              (ResetPasswordForm.get('email')?.touched ||
                ResetPasswordForm.get('email')?.dirty)
            "
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <p>Email Invalid</p>
          </div>

          <div class="flex">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
            >
              <i class="fa-solid fa-code-pull-request"></i>
            </span>
            <input
              formControlName="seed"
              type="text"
              class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="OPT"
            />
          </div>

          <div
            class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
            role="alert"
            *ngIf="
              ResetPasswordForm.get('seed')?.getError('required') &&
              (ResetPasswordForm.get('seed')?.touched ||
                ResetPasswordForm.get('seed')?.dirty)
            "
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <p>Code Required</p>
          </div>

          <div class="flex relative">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
            >
              <i class="fa-solid fa-lock"></i>
            </span>
            <input
              formControlName="password"
              [type]="hidepass ? 'password' : 'text'"
              class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Password"
            />
            <span
              (click)="hidepass = !hidepass"
              class="absolute end-2 cursor-pointer top-2"
              ><i
                class="fa-solid"
                [ngClass]="{
                  'fa-eye': hidepass,
                  'fa-eye-slash': !hidepass
                }"
              ></i
            ></span>
          </div>

          <div
            class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
            role="alert"
            *ngIf="
              ResetPasswordForm.get('password')?.getError('required') &&
              (ResetPasswordForm.get('password')?.touched ||
                ResetPasswordForm.get('password')?.dirty)
            "
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <p>Password Required</p>
          </div>

          <div class="flex relative">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
            >
              <i class="fa-solid fa-lock"></i>
            </span>
            <input
              formControlName="confirmPassword"
              [type]="hideRepass ? 'password' : 'text'"
              class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-green-500 focus:border-green-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Confirm Password"
            />
            <span
              (click)="hideRepass = !hideRepass"
              class="absolute end-2 cursor-pointer top-2"
              ><i
                class="fa-solid"
                [ngClass]="{
                  'fa-eye': hideRepass,
                  'fa-eye-slash': !hideRepass
                }"
              ></i
            ></span>
          </div>

          <div
            class="flex items-center p-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
            role="alert"
            *ngIf="
              ResetPasswordForm.get('confirmPassword')?.getError('required') &&
              (ResetPasswordForm.get('confirmPassword')?.touched ||
                ResetPasswordForm.get('confirmPassword')?.dirty)
            "
          >
            <svg
              class="flex-shrink-0 inline w-4 h-4 me-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Info</span>
            <p>Confirm Password Required</p>
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="text-white bg-[#4AA35A] hover:bg-[#3b8749f6] font-bold text-[20px] rounded-lg text-sm px-5 w-[80%] py-2.5 me-2 focus:outline-none"
            >
              Reset
              <span *ngIf="spin"
                ><i class="ms-1 text-lg fa-solid fa-spinner fa-spin"></i
              ></span>
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</section>
