<div mat-dialog-content class="p-3 w-[500px] h-[200px]">
  <div class="flex justify-between items-center mb-5">
    <h2 class="font-[700] text-[25px] text-[#494949]">Add Category</h2>

    <!-- <button mat-button> -->
    <mat-icon (click)="onNoClick()" class="text-red-600 cursor-pointer"
      >cancel</mat-icon
    >
    <!-- </button> -->
  </div>

  <div class="">
    <mat-form-field class="w-full">
      <mat-label class="">Category Name</mat-label>
      <input class="w-full" matInput [(ngModel)]="data.name" />
    </mat-form-field>
  </div>
</div>
<!-- cdkFocusInitial -->

<div
  mat-dialog-actions
  class="float-end bg-[#009247] text-white min cursor-pointer"
>
  <button mat-button [mat-dialog-close]="data" [disabled]="data?.name === ''">
    save
  </button>
</div>
