<ng-container *ngIf="data">
  <section class="p-3 w-[700px]">
    <div class="container">
      <div class="flex justify-end">
        <mat-icon (click)="onNoClick()" class="text-red-600 cursor-pointer"
          >cancel</mat-icon
        >
      </div>

      <div class="my-2">
        <div>
          <img src="../../../assets/4 4.svg" class="w-[30%] mx-auto" alt="" />
        </div>

        <h2 class="font-[700] text-[25px] text-[#494949]">My Profile</h2>

        <p class="mb-2">Profile details below</p>
      </div>

      <div class="">
        <div
          class="w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="text-center">
            <ng-container *ngIf="data.imagePath; else notfoundimg">
              <img
                [src]="url + data.imagePath"
                class="rounded-t-lg mx-auto w-[150px] h-[150px]"
                alt=""
              />
            </ng-container>
            <ng-template #notfoundimg>
              <img
                src="../../../assets/Image_not_available.png"
                class="rounded-t-lg border border-spacing-1 border-slate-400 mx-auto w-[150px] h-[150px]"
                alt=""
              />
            </ng-template>
          </div>
          <div class="p-5">
            <a>
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                My Account
              </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Name: {{ data.userName }}
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Name: {{ data.country }}
            </p>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Email: {{ data.email }}
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Phone: {{ data.phoneNumber }}
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              Role: {{ data.group.name }}
            </p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              creationDate: {{ data.creationDate | date }}
            </p>
          </div>
        </div>
      </div>

      <div
        mat-dialog-actions
        class="float-end my-2 rounded-md bg-[#009247] text-white min cursor-pointer"
        style="margin-block: 10px"
      >
        <button
          [mat-dialog-close]="data"
          (click)="openDialog()"
          mat-button
          style="color: white"
        >
          Edit
        </button>
      </div>
    </div>
  </section>
</ng-container>
