<section>
  <div class="container">
    <div class="header-admin flex justify-between items-center px-10">
      <div>
        <h1 class="text-[40px] text-white font-[700]">
          Welcome
          <span class="font-[400] text-[32px] text-slate-300">{{
            userName()
          }}</span>
        </h1>
        <p class="text-[16px] text-white font-[400] w-[75%]">
          This is a welcoming screen for the entry of the application , you can
          now see the options
        </p>
      </div>
      <div>
        <img
          src="../../../../assets/eating vegan food-rafiki.svg"
          class="w-[70%]"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
