.header-admin {
  background-image: url("../../../../assets/Rectangle.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // height: 50vh;
  border-radius: 30px;
  margin-top: 20px;
  padding-block: 20px;
}
